@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');


/* 
Backgroung color:
https://youtu.be/f3mwKLXpOLk?feature=shared 
https://www.makeuseof.com/css-background-gradients/
*/

:root {
  --gradient: linear-gradient(45deg,
      #5e75c2,
      #1b2d9d,
      #ff6f91,
      #ff9671,
      #ffc75f,
      #f9f871);
}

html {
  box-sizing: border-box
}

body {
  margin: 0;
  min-height: 100vh;

  color: #333;
  background: #ddd;
  background-size: 400%;
  background-image: var(--gradient);
  /* background-image: linear-gradient(to right, #b6fbff, #83a4d4); */
  animation: bg-animation 120s infinite;

  font-family: 'Amaranth', sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes bg-animation {
  0% {
    background-position: left
  }

  50% {
    background-position: right
  }

  100% {
    background-position: left
  }
}

.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(131, 164, 212, 0.1);
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
}

.quote-text {
  font-size: 2.75rem;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5 rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: #333;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
  filter: brightness(120%)
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.translate-button:hover {
  color: #38f35d;
}

.fa-envelope {
  font-size: 1.5rem;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #333;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin-animation 2s linear infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Media Query: Tablet or smaller */

@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-size: 2.5rem;
  }
}